

body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  margin: 0 auto 4em auto;
  padding: 1em;
  background: whitesmoke;
  font-size: 16px;
}

header {
  max-width: 960px;
  position: relative;
  margin: 10px auto;
  padding: 0 10px;
 
}

main {
  max-width: 960px;
  position: relative;
  display: block;
  margin: 50px auto;
  padding: 0 10px;
}

iframe {
  border: solid 1px #ddd;
  border-bottom: solid 2px #ccc;
  background: white;
  margin-bottom: 2rem;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 5px 0;
  padding: 0;
  list-style-type: none;
}

.flex-grid {
    display: flex;
    margin-top: 20px;
}

.col {
    flex: 1;
}

.raw {
  margin-top: 1rem;
}

pre {
 border-left: solid 1px #ccc;
}

code {
  font-family: "Menlo", monospace;
  line-height: normal;
}